// --------------------------------------------------
// ------------------- ANIMATIONS -------------------
// --------------------------------------------------
.fadeInQuick {
	-webkit-animation-duration: 0.5s;
	-webkit-animation-name: fadein;
	animation-duration: 0.5s;
	animation-name: fadein;
}
@-webkit-keyframes fadeIn {
	0%		{opacity: 0;}
	100%	{opacity: 1;}
}
@keyframes fadein {
	0%		{opacity: 0;}
	100%	{opacity: 1;}
}

.fadeIn {
	-webkit-animation-duration: 2s;
	-webkit-animation-name: fadein;
	animation-duration: 2s;
	animation-name: fadein;
}
@-webkit-keyframes fadeIn {
	0%		{opacity: 0;}
	100%	{opacity: 1;}
}
@keyframes fadein {
	0%		{opacity: 0;}
	100%	{opacity: 1;}
}

.fadeInUp {
	-webkit-animation-duration: 2s;
	-webkit-animation-name: fadeinup;
	animation-duration: 2s;
	animation-name: fadeinup;
}
@-webkit-keyframes fadeinup {
	0%		{opacity: 0;
			 -webkit-transform: translate3d(0, 100%, 0);
   			 transform: translate3d(0, 100%, 0);}
	100%	{opacity: 1;
			 -webkit-transform: none;
    		 transform: none;}
}
@keyframes fadeinup {
	0%		{opacity: 0;
			 -webkit-transform: translate3d(0, 100%, 0);
   			 transform: translate3d(0, 100%, 0);}
	100%	{opacity: 1;
			 -webkit-transform: none;
    		 transform: none;}
}


// --------------------------------------------------
// ------------------- TIMELINE ---------------------
// --------------------------------------------------
.timeline-container {
	// LARGE LAYOUT ************
	height: 100%;
	margin-top: 7.5rem;

	// MEDIUM LAYOUT ************
	@include breakpoint($medium) {
		margin-top: 10.2rem;
	}
}
.timeline-container-type2 {
	// LARGE LAYOUT ************
	height: 100%;
	margin-top: 3.0rem;
}
.timeline-circle {
	position: relative;
	top: 8px;
	left: -1.5px;
	width: 23px;
	height: 23px;
	background: $black;
	border: 5px solid $black;
	border-radius: 50%;
	margin: 0 auto;
	box-shadow: 0px 2px 2px lighten($black, 5%);
}
//lighten($paleblack-display, 5%);

.timeline-circle-type2 {
	// LARGE LAYOUT ************
	@extend .timeline-circle;
	top: 54px;

	// MEDIUM LAYOUT ************
	@include breakpoint($medium) {
		top: 80px;
	}
}
.timeline-line {
	width: 50%;
	height: 100%;
	//border-right: 2.8px solid $paleblack-display;
	border-right: 4px solid lighten($paleblack-display, 10%);
}
.timeline-line-type2 {
	// LARGE LAYOUT ************
	@extend .timeline-line;
	height: 6%;

	// MEDIUM LAYOUT ************
	@include breakpoint($medium) {
		height: 8%;
	}
}
