// Menu ------------------------------------------

// Topmenu Behavior on Hover
.topmenu a:hover {
		border-bottom: 2px solid black;
}

// Submenu Behavior on Hover
// Dropdown
.topmenu li:hover ul {
	left: 0 !important;
}
// Turn-off inherited border-bottom on hover
.submenu a:hover {
	border: none;
}
// Change background color on hover
.dp-one a:hover {
	background: darken($background-yellow, 15%);
}
.dp-two a:hover {
	background: $grapefruit;
}
.dp-three a:hover {
	background: $melon;
}
.dp-four a:hover {
	background: $honey;
}
.dp-five a:hover {
	background: $orange;
}
.dp-six a:hover {
	background: $mint;
}
.dp-seven a:hover {
	background: $background-aqua;
}
// -------------------------------------------------


// Timeline ----------------------------------------
.timeline-container {
	// LARGE LAYOUT ************
	height: 100%;
	margin-top: 7.5rem;

	// MEDIUM LAYOUT ************
	@include breakpoint($medium) {
		margin-top: 10.2rem;
	}
}
.timeline-container-type2 {
	// LARGE LAYOUT ************
	height: 100%;
	margin-top: 3.0rem;
}
.timeline-circle {
	position: relative;
	top: 8px;
	left: -1.5px;
	width: 23px;
	height: 23px;
	background: black;
	border: 5px solid $paleblack-display;
	border-radius: 50%;
	margin: 0 auto;
}
.timeline-circle-type2 {
	// LARGE LAYOUT ************
	@extend .timeline-circle;
	top: 54px;

	// MEDIUM LAYOUT ************
	@include breakpoint($medium) {
		top: 80px;
	}
}
.timeline-line {
	width: 50%;
	height: 100%;
	border-right: 2.8px solid $paleblack-display;
}
.timeline-line-type2 {
	// LARGE LAYOUT ************
	@extend .timeline-line;
	height: 6%;

	// MEDIUM LAYOUT ************
	@include breakpoint($medium) {
		height: 8%;
	}
}
