@import "compass";
@import "compass/reset";
@import "susy";


@import "variables";
@import "mixins";
@import "base";
@import "layout";
@import "modules";


// Background Colors -----------------------------------------

.designProcess {
	background-color: $background-yellow;
}
.productDefinition {
	background-color: $background-grapefruit;
}
.researchAnalysis {
	background-color: $background-mint;
}
.interactionDesign {
	background-color: $background-honey;
}
.wireframePrototype {
	background-color: $background-salmon;
}
.usabilityEvaluation {
	background-color: $background-melon;
}
.frontendProgramming {
	background-color: $background-aqua;
}
.about {
	background-color: $background-yellow;
}
.connect {
	background-color: $background-yellow;
}


// Typography ------------------------------------------------
#logo {
	font-weight: 500; //Medium
	text-transform: uppercase;

	span {
		font-weight: 200; //Light
		} //span
} //logo

#designProcessPageTitle {
	font-size: 4.8rem;
	line-height: 4.8rem;
}

.frontendProgramming {
	h1 {
		span {
			font-size: 3.6rem;
			font-weight: 200;
		}
	}
}


// Menu ---------------------------------------------------
.current, a:hover.current {
	border-bottom: 2px solid black;
}
.submenu {
	background: lighten($background-yellow, 4%);
}



// Footer -------------------------------------------------
#footer {
	background: rgba(255,255,255,0.1);
}
.footer-style {
	font-size: 1.2rem;
}