@import url("http://cloud.typography.com/7908354/734746/css/fonts.css");
/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/***** Breakpoints ***********************************/
/***** Colors ****************************************/
/***** Typography *************************************/
/* line 5, ../components/sass/_base.scss */
html {
  font-size: 62.5%;
}

/* line 9, ../components/sass/_base.scss */
body {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  color: #282422;
}

/* line 18, ../components/sass/_base.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 23, ../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Gotham A", "Gotham B", sans-serif;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.8);
}

/* line 29, ../components/sass/_base.scss */
h1 {
  font-size: 4.8rem;
  line-height: 4.8rem;
  font-weight: 800;
}

/* line 35, ../components/sass/_base.scss */
h2 {
  font-size: 3.6rem;
  line-height: 3.6rem;
  font-weight: 800;
}

/* line 41, ../components/sass/_base.scss */
h3 {
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: 700;
}

/* line 47, ../components/sass/_base.scss */
h4 {
  font-size: 2.1rem;
  line-height: 2.4rem;
}

/* line 21, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../components/sass/_layout.scss */
body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 19, ../components/sass/_layout.scss */
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
  margin-bottom: 2.4rem;
}

/*micro-clearfix by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack*/
/* For modern browsers */
/* line 27, ../components/sass/_layout.scss */
.cf:before, .cf:after {
  content: "";
  display: table;
}

/* line 31, ../components/sass/_layout.scss */
.cf:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
/* line 35, ../components/sass/_layout.scss */
.cf {
  zoom: 1;
}

/* line 43, ../components/sass/_layout.scss */
#pageHeader {
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 1.2rem;
}
/* line 50, ../components/sass/_layout.scss */
#pageHeader #logo {
  float: left;
}
/* line 52, ../components/sass/_layout.scss */
#pageHeader #mainNav {
  float: right;
}
/* line 55, ../components/sass/_layout.scss */
#pageHeader #mainNav .topmenu {
  margin-bottom: 0;
}
/* line 58, ../components/sass/_layout.scss */
#pageHeader #mainNav .topmenu li {
  float: left;
  position: relative;
}
/* line 61, ../components/sass/_layout.scss */
#pageHeader #mainNav .topmenu li a {
  display: block;
  padding: 0 2.4rem 1.2rem 2.4rem;
}
/* line 64, ../components/sass/_layout.scss */
#pageHeader #mainNav .topmenu .submenu {
  float: none;
  width: auto;
  height: auto;
  position: absolute;
  z-index: 10;
  top: 3.8rem;
  left: -9000rem;
}
/* line 72, ../components/sass/_layout.scss */
#pageHeader #mainNav .topmenu .submenu li {
  float: none;
  white-space: nowrap;
}
/* line 74, ../components/sass/_layout.scss */
#pageHeader #mainNav .topmenu .submenu li a {
  padding-top: 1.2rem;
  border-bottom: 1px solid #808080;
}
/* line 76, ../components/sass/_layout.scss */
#pageHeader #mainNav .topmenu .submenu li:last-child a {
  border-bottom: none;
}
@media (max-width: 550px) {
  /* line 52, ../components/sass/_layout.scss */
  #pageHeader #mainNav {
    display: none;
  }
}
/* line 101, ../components/sass/_layout.scss */
#pageHeader #mainNav-mobile {
  float: right;
  display: none;
}
@media (max-width: 550px) {
  /* line 101, ../components/sass/_layout.scss */
  #pageHeader #mainNav-mobile {
    display: block;
  }
  /* line 109, ../components/sass/_layout.scss */
  #pageHeader #mainNav-mobile .click-nav {
    margin: 100px auto;
    width: 200px;
  }
  /* line 112, ../components/sass/_layout.scss */
  #pageHeader #mainNav-mobile .click-nav ul {
    position: relative;
  }
  /* line 114, ../components/sass/_layout.scss */
  #pageHeader #mainNav-mobile .click-nav ul li {
    position: relative;
    cursor: pointer;
  }
  /* line 117, ../components/sass/_layout.scss */
  #pageHeader #mainNav-mobile .click-nav ul li ul {
    position: absolute;
    left: 0;
    right: 0;
  }
  /* line 124, ../components/sass/_layout.scss */
  #pageHeader #mainNav-mobile .click-nav ul .clicker {
    position: relative;
    backgroudn: #2284B5;
    color: #FFF;
  }
  /* line 129, ../components/sass/_layout.scss */
  #pageHeader #mainNav-mobile .click-nav ul .clicker:hover,
  #pageHeader #mainNav-mobile .click-nav ul .active {
    background: #196F9A;
  }
  /* line 133, ../components/sass/_layout.scss */
  #pageHeader #mainNav-mobile .click-nav ul li a {
    transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    display: block;
    padding: 8px 10px 8px 40px;
    background: #FFF;
    color: #333;
  }
  /* line 142, ../components/sass/_layout.scss */
  #pageHeader #mainNav-mobile .click-nav ul li a:hover {
    background: #F2F2F2;
  }
  /* line 147, ../components/sass/_layout.scss */
  #pageHeader #mainNav-mobile .click-nav .no-js ul {
    display: none;
  }
  /* line 148, ../components/sass/_layout.scss */
  #pageHeader #mainNav-mobile .click-nav .no-js:hover ul {
    display: block;
  }
}

/* line 159, ../components/sass/_layout.scss */
#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 2.4rem;
  padding-bottom: 1.2rem;
  text-align: center;
  z-index: 100;
}

/* line 175, ../components/sass/_layout.scss */
.designProcess #designProcessPageTitle {
  clear: both;
  width: 97.91667%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  text-align: center;
  margin-top: 10.8rem;
  margin-bottom: 13.2rem;
}
@media (max-width: 886px) {
  /* line 175, ../components/sass/_layout.scss */
  .designProcess #designProcessPageTitle {
    margin-top: 12.0rem;
  }
}
@media (max-width: 777px) {
  /* line 175, ../components/sass/_layout.scss */
  .designProcess #designProcessPageTitle {
    margin-bottom: 10.8rem;
  }
}
@media (max-width: 550px) {
  /* line 175, ../components/sass/_layout.scss */
  .designProcess #designProcessPageTitle {
    font-size: 2.8rem;
  }
}
/* line 199, ../components/sass/_layout.scss */
.designProcess figure {
  width: 81.25%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  margin-left: 9.375%;
}
/* line 203, ../components/sass/_layout.scss */
.designProcess figure img {
  max-width: 100%;
}

/* line 212, ../components/sass/_layout.scss */
#timeline {
  width: 6.25%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  height: 100%;
}
@media (max-width: 550px) {
  /* line 212, ../components/sass/_layout.scss */
  #timeline {
    display: none;
  }
}

/* line 221, ../components/sass/_layout.scss */
#skillsPageTitle {
  width: 89.58333%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  margin-top: 6.0rem;
  margin-bottom: 7.2rem;
}
@media (max-width: 886px) {
  /* line 221, ../components/sass/_layout.scss */
  #skillsPageTitle {
    width: 89.58333%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    font-size: 4.0rem;
    margin-top: 8.4rem;
    margin-bottom: 3.6rem;
  }
}
@media (max-width: 777px) {
  /* line 221, ../components/sass/_layout.scss */
  #skillsPageTitle {
    margin-top: 9.6rem;
  }
  /* line 237, ../components/sass/_layout.scss */
  #skillsPageTitle img {
    display: none;
  }
}
@media (max-width: 550px) {
  /* line 221, ../components/sass/_layout.scss */
  #skillsPageTitle {
    font-size: 2.8rem;
    line-height: 4.2rem;
    margin-bottom: 1.2rem;
    margin-left: 1.2rem;
  }
}

@media (max-width: 777px) {
  /* line 251, ../components/sass/_layout.scss */
  .frontendProgramming #skillsPageTitle {
    margin-top: 8.4rem;
  }
}

/* line 257, ../components/sass/_layout.scss */
#skills {
  width: 31.25%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
}
/* line 260, ../components/sass/_layout.scss */
#skills p {
  margin-bottom: 6.0rem;
  margin-bottom: 2.4rem;
}
@media (max-width: 886px) {
  /* line 257, ../components/sass/_layout.scss */
  #skills {
    width: 81.25%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
  }
  /* line 266, ../components/sass/_layout.scss */
  #skills p {
    margin-bottom: 3.6rem;
  }
  /* line 267, ../components/sass/_layout.scss */
  #skills .skills-list {
    display: none;
  }
}
@media (max-width: 550px) {
  /* line 257, ../components/sass/_layout.scss */
  #skills {
    margin-left: 1.2rem;
  }
  /* line 273, ../components/sass/_layout.scss */
  #skills p {
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
}

/* line 280, ../components/sass/_layout.scss */
#workSample {
  width: 47.91667%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  margin-left: 30px;
}
/* line 285, ../components/sass/_layout.scss */
#workSample #slider1, #workSample #slider2, #workSample #slider3, #workSample #slider4, #workSample #slider5, #workSample #slider6 {
  margin-top: 0.6rem;
  height: auto;
  width: auto;
}
@media (max-width: 886px) {
  /* line 280, ../components/sass/_layout.scss */
  #workSample {
    width: 81.25%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
  }
}
@media (max-width: 550px) {
  /* line 280, ../components/sass/_layout.scss */
  #workSample {
    margin-left: 1.2rem;
  }
}

/* line 301, ../components/sass/_layout.scss */
.frontendProgramming h1 {
  padding-top: 0.8rem;
}

/* line 309, ../components/sass/_layout.scss */
#aboutPageTitle {
  clear: both;
  width: 97.91667%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  text-align: center;
  margin-top: 10.8rem;
  margin-bottom: 9.6rem;
}
@media (max-width: 886px) {
  /* line 309, ../components/sass/_layout.scss */
  #aboutPageTitle {
    margin-top: 12.0rem;
    margin-bottom: 6.0rem;
  }
}
@media (max-width: 550px) {
  /* line 309, ../components/sass/_layout.scss */
  #aboutPageTitle {
    font-size: 2.8rem;
    line-height: 4.2rem;
    margin-bottom: 2.4rem;
  }
}

/* line 330, ../components/sass/_layout.scss */
#aboutPageContent figure {
  width: 22.91667%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  margin-left: 17.70833%;
}
/* line 334, ../components/sass/_layout.scss */
#aboutPageContent figure img {
  max-width: 100%;
}
@media (max-width: 886px) {
  /* line 330, ../components/sass/_layout.scss */
  #aboutPageContent figure {
    width: 31.25%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    margin-left: 34.375%;
  }
}
@media (max-width: 550px) {
  /* line 330, ../components/sass/_layout.scss */
  #aboutPageContent figure {
    width: 47.91667%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    margin-left: 26.04167%;
  }
}

/* line 349, ../components/sass/_layout.scss */
#aboutPageContent section {
  position: relative;
  top: -5px;
  width: 39.58333%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  text-align: left;
}
/* line 357, ../components/sass/_layout.scss */
#aboutPageContent section p:last-child {
  margin-bottom: 8.4rem;
}
@media (max-width: 886px) {
  /* line 349, ../components/sass/_layout.scss */
  #aboutPageContent section {
    width: 64.58333%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    margin-left: 17.70833%;
  }
}
@media (max-width: 550px) {
  /* line 349, ../components/sass/_layout.scss */
  #aboutPageContent section {
    width: 81.25%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    margin-left: 9.375%;
  }
  /* line 371, ../components/sass/_layout.scss */
  #aboutPageContent section p {
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
}

/* line 383, ../components/sass/_layout.scss */
#connectPageTitle {
  clear: both;
  width: 97.91667%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  text-align: center;
  margin-top: 10.8rem;
  margin-bottom: 9.6rem;
}
@media (max-width: 886px) {
  /* line 383, ../components/sass/_layout.scss */
  #connectPageTitle {
    margin-top: 12.0rem;
    margin-bottom: 6.0rem;
  }
}
@media (max-width: 550px) {
  /* line 383, ../components/sass/_layout.scss */
  #connectPageTitle {
    font-size: 2.8rem;
    line-height: 4.2rem;
    margin-bottom: 2.4rem;
  }
}

/* line 404, ../components/sass/_layout.scss */
#connectPageContent section {
  width: 47.91667%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  margin-left: 26.04167%;
}
/* line 408, ../components/sass/_layout.scss */
#connectPageContent section figure {
  margin-bottom: 8.4rem;
}
@media (max-width: 886px) {
  /* line 404, ../components/sass/_layout.scss */
  #connectPageContent section {
    width: 64.58333%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    margin-left: 17.70833%;
  }
}
@media (max-width: 550px) {
  /* line 404, ../components/sass/_layout.scss */
  #connectPageContent section {
    width: 81.25%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    margin-left: 9.375%;
  }
  /* line 422, ../components/sass/_layout.scss */
  #connectPageContent section p {
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
}

/* line 429, ../components/sass/_layout.scss */
.google-maps {
  margin-top: 3.6rem;
  position: relative;
  padding-bottom: 90%;
  height: 0;
  overflow: hidden;
}

/* line 436, ../components/sass/_layout.scss */
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
}

/* line 448, ../components/sass/_layout.scss */
.mini-chart {
  max-width: 100%;
  margin-left: 2%;
}

/* line 452, ../components/sass/_layout.scss */
.royalSlider img {
  max-width: 100%;
}

/* line 460, ../components/sass/_layout.scss */
.semantic-markup {
  display: none;
}

/* line 463, ../components/sass/_layout.scss */
.hide-visibility {
  visibility: hidden;
}

/* line 466, ../components/sass/_layout.scss */
.hide {
  display: none;
}

/* line 8, ../components/sass/_modules.scss */
.timeline-container {
  height: 100%;
  margin-top: 7.5rem;
}
@media (max-width: 886px) {
  /* line 8, ../components/sass/_modules.scss */
  .timeline-container {
    margin-top: 10.2rem;
  }
}

/* line 18, ../components/sass/_modules.scss */
.timeline-container-type2 {
  height: 100%;
  margin-top: 3.0rem;
}

/* line 23, ../components/sass/_modules.scss */
.timeline-circle, .timeline-circle-type2 {
  position: relative;
  top: 8px;
  left: -1.5px;
  width: 23px;
  height: 23px;
  background: black;
  border: 5px solid rgba(13, 13, 13, 0.8);
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0px 2px 2px rgba(13, 13, 13, 0.8);
}

/* line 36, ../components/sass/_modules.scss */
.timeline-circle-type2 {
  top: 54px;
}
@media (max-width: 886px) {
  /* line 36, ../components/sass/_modules.scss */
  .timeline-circle-type2 {
    top: 80px;
  }
}

/* line 46, ../components/sass/_modules.scss */
.timeline-line, .timeline-line-type2 {
  width: 50%;
  height: 100%;
  border-right: 4px solid rgba(26, 26, 26, 0.8);
}

/* line 52, ../components/sass/_modules.scss */
.timeline-line-type2 {
  height: 6%;
}
@media (max-width: 886px) {
  /* line 52, ../components/sass/_modules.scss */
  .timeline-line-type2 {
    height: 8%;
  }
}

/* line 16, ../components/sass/styles.scss */
.designProcess {
  background-color: #FFFBD2;
}

/* line 19, ../components/sass/styles.scss */
.productDefinition {
  background-color: #FF9985;
}

/* line 22, ../components/sass/styles.scss */
.researchAnalysis {
  background-color: #8AE0C1;
}

/* line 25, ../components/sass/styles.scss */
.interactionDesign {
  background-color: #FFF59C;
}

/* line 28, ../components/sass/styles.scss */
.wireframePrototype {
  background-color: #FFAB7E;
}

/* line 31, ../components/sass/styles.scss */
.usabilityEvaluation {
  background-color: #A5D695;
}

/* line 34, ../components/sass/styles.scss */
.frontendProgramming {
  background-color: #67CFCD;
}

/* line 37, ../components/sass/styles.scss */
.about {
  background-color: #FFFBD2;
}

/* line 40, ../components/sass/styles.scss */
.connect {
  background-color: #FFFBD2;
}

/* line 46, ../components/sass/styles.scss */
#designProcessPageTitle {
  font-size: 4.8rem;
  line-height: 4.8rem;
}

/* line 53, ../components/sass/styles.scss */
.frontendProgramming h1 span {
  font-size: 3.6rem;
  font-weight: 200;
}

/* line 59, ../components/sass/styles.scss */
.large-p {
  font-size: 1.8rem;
  line-height: 2.7rem;
}

/* line 65, ../components/sass/styles.scss */
.link {
  color: #0047ba;
}

/* line 68, ../components/sass/styles.scss */
.link:hover {
  color: #0060FA;
  transition: color 0.5s ease-in-out;
}

/* line 79, ../components/sass/styles.scss */
#logo {
  font-weight: 500;
  text-transform: uppercase;
}
/* line 82, ../components/sass/styles.scss */
#logo .ux {
  font-weight: 200;
}
/* line 83, ../components/sass/styles.scss */
#logo a .a, #logo a .n, #logo a .d, #logo a .r, #logo a .e, #logo a .w, #logo a .h-1, #logo a .h-2 {
  -moz-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 89, ../components/sass/styles.scss */
#logo a:hover .a {
  color: #ea4825;
}

/* line 92, ../components/sass/styles.scss */
#logo a:hover .n {
  color: #4db68f;
}

/* line 95, ../components/sass/styles.scss */
#logo a:hover .d {
  color: #f2be28;
}

/* line 98, ../components/sass/styles.scss */
#logo a:hover .r {
  color: #f36d27;
}

/* line 101, ../components/sass/styles.scss */
#logo a:hover .e {
  color: #90d17b;
}

/* line 104, ../components/sass/styles.scss */
#logo a:hover .w {
  color: #40c3c0;
}

/* line 107, ../components/sass/styles.scss */
#logo a:hover .h-1 {
  color: #4db68f;
}

/* line 110, ../components/sass/styles.scss */
#logo a:hover .h-2 {
  color: #f2be28;
}

/* line 116, ../components/sass/styles.scss */
.current {
  box-shadow: 0px -2px 0px #282422 inset;
}

/* line 122, ../components/sass/styles.scss */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

/* line 134, ../components/sass/styles.scss */
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #282422;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 150, ../components/sass/styles.scss */
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* THIS IS OLD CODE for reference
.hover {
	border-bottom: 2px solid rgba(8,4,1,0);
	-moz-transition: border-bottom 0.5s ease-in-out;
	-webkit-transition: border-bottom 0.5s ease-in-out;
	transition: border-bottom 0.5s ease-in-out;
}
.hover:hover {
	border-bottom: 2px solid rgba(8,4,1,.87);
}
*/
/* line 170, ../components/sass/styles.scss */
.topmenu li:hover ul {
  left: 0 !important;
}

/* line 174, ../components/sass/styles.scss */
.submenu li {
  background: #fffde6;
}

/* line 179, ../components/sass/styles.scss */
.dp-one a, .dp-two a, .dp-three a, .dp-four a, .dp-five a, .dp-six a, .dp-seven a {
  -moz-transition: background-color 0.15s ease-in-out;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

/* line 184, ../components/sass/styles.scss */
.dp-one a:hover {
  background: #fff485;
}

/* line 187, ../components/sass/styles.scss */
.dp-two a:hover {
  background: #ED6346;
}

/* line 190, ../components/sass/styles.scss */
.dp-three a:hover {
  background: #71C5A6;
}

/* line 193, ../components/sass/styles.scss */
.dp-four a:hover {
  background: #F8DB88;
}

/* line 196, ../components/sass/styles.scss */
.dp-five a:hover {
  background: #F68E57;
}

/* line 199, ../components/sass/styles.scss */
.dp-six a:hover {
  background: #B0DEA1;
}

/* line 202, ../components/sass/styles.scss */
.dp-seven a:hover {
  background: #67CFCD;
}

/* line 210, ../components/sass/styles.scss */
#skills ul {
  list-style-type: square;
}

/* line 215, ../components/sass/styles.scss */
#workSample div {
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
}
/* line 218, ../components/sass/styles.scss */
#workSample img {
  -moz-border-radius: 1px / 1px;
  -webkit-border-radius: 1px 1px;
  border-radius: 1px / 1px;
}

/* line 230, ../components/sass/styles.scss */
#aboutPageContent img {
  -moz-border-radius: 8px / 8px;
  -webkit-border-radius: 8px 8px;
  border-radius: 8px / 8px;
}

/* line 237, ../components/sass/styles.scss */
#footer {
  background: rgba(255, 255, 255, 0.1);
}

/* line 240, ../components/sass/styles.scss */
.footer-style {
  font-size: 1.2rem;
  font-weight: 200;
}
