@import url("http://cloud.typography.com/7908354/734746/css/fonts.css");
/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/***** Colors *****/
/***** Typography *****/
/* line 5, ../components/sass/_base.scss */
html {
  font-size: 62.5%;
}

/* line 9, ../components/sass/_base.scss */
body {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  color: #282422;
}

/* line 18, ../components/sass/_base.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 23, ../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Gotham A", "Gotham B", sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

/* line 28, ../components/sass/_base.scss */
h1 {
  font-size: 3.6rem;
  line-height: 3.6rem;
  font-weight: 800;
}

/* line 34, ../components/sass/_base.scss */
h2 {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: 700;
}

/* line 40, ../components/sass/_base.scss */
h3 {
  font-size: 2.4rem;
  line-height: 3.6rem;
}

/* line 45, ../components/sass/_base.scss */
h4 {
  font-size: 2.1rem;
  line-height: 2.4rem;
}

/*
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#full-size {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
*/
/* line 21, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 27, ../components/sass/_layout.scss */
body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 30, ../components/sass/_layout.scss */
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
  margin-bottom: 2.4rem;
}

/* line 37, ../components/sass/_layout.scss */
#pageHeader #logo {
  float: left;
}
/* line 39, ../components/sass/_layout.scss */
#pageHeader #mainNav {
  float: right;
}
/* line 42, ../components/sass/_layout.scss */
#pageHeader #mainNav .topmenu {
  margin-bottom: 0;
}
/* line 45, ../components/sass/_layout.scss */
#pageHeader #mainNav .topmenu li {
  float: left;
  position: relative;
}
/* line 48, ../components/sass/_layout.scss */
#pageHeader #mainNav .topmenu li a {
  display: block;
  padding: 0 2.4rem 1.2rem 2.4rem;
}
/* line 51, ../components/sass/_layout.scss */
#pageHeader #mainNav .topmenu .submenu {
  float: none;
  width: auto;
  height: auto;
  position: absolute;
  z-index: 10;
  top: 3.8rem;
  left: -9000rem;
}
/* line 59, ../components/sass/_layout.scss */
#pageHeader #mainNav .topmenu .submenu li {
  float: none;
}
/* line 61, ../components/sass/_layout.scss */
#pageHeader #mainNav .topmenu .submenu li a {
  padding-top: 1.2rem;
  border-bottom: 1px solid gray;
  white-space: nowrap;
}
/* line 64, ../components/sass/_layout.scss */
#pageHeader #mainNav .topmenu .submenu li:last-child a {
  border-bottom: none;
}

/*micro-clearfix by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack*/
/* For modern browsers */
/* line 74, ../components/sass/_layout.scss */
.cf:before, .cf:after {
  content: "";
  display: table;
}

/* line 78, ../components/sass/_layout.scss */
.cf:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
/* line 82, ../components/sass/_layout.scss */
.cf {
  zoom: 1;
}

/*
#designProcess {

	#designProcessPageTitle {
		@include full;
		text-align: center;
		margin-top: 7.2rem;
		margin-bottom: 12.0rem;}

	figure {
		@include span(10);
		@include push(1);

		img {
			max-width: 100%;} //img

		margin-bottom: 7.2rem;} //figure

	p {
		@include span(6);
		@include push(3);
		text-align: center;} //p
	
} //designProcess */
/* line 113, ../components/sass/_layout.scss */
#designProcessPageTitle {
  clear: both;
  width: 97.91667%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  text-align: center;
  margin-top: 7.2rem;
  margin-bottom: 12.0rem;
}

/* line 119, ../components/sass/_layout.scss */
figure {
  width: 81.25%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  margin-left: 9.375%;
  margin-bottom: 7.2rem;
}
/* line 123, ../components/sass/_layout.scss */
figure img {
  max-width: 100%;
}

/* line 126, ../components/sass/_layout.scss */
p {
  width: 47.91667%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  margin-left: 26.04167%;
  text-align: center;
}

/* line 133, ../components/sass/_layout.scss */
#timeline {
  width: 6.25%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  margin-top: 1.8rem;
}
/* line 137, ../components/sass/_layout.scss */
#timeline img {
  margin-top: 2.4rem;
}

/* line 140, ../components/sass/_layout.scss */
#skillsPageTitle {
  width: 89.58333%;
  float: right;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  margin-top: 1.2rem;
  margin-bottom: 3.6rem;
}

/* line 145, ../components/sass/_layout.scss */
#skills {
  width: 22.91667%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
}
/* line 148, ../components/sass/_layout.scss */
#skills p {
  margin-bottom: 6.0rem;
}

/* line 151, ../components/sass/_layout.scss */
#workSample {
  width: 64.58333%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
}
/* line 154, ../components/sass/_layout.scss */
#workSample #slider {
  height: auto;
  width: auto;
}

/* line 160, ../components/sass/_layout.scss */
.mini-chart {
  max-width: 100%;
  margin-left: 2%;
}

/* line 164, ../components/sass/_layout.scss */
.royalSlider img {
  max-width: 100%;
}

/* line 168, ../components/sass/_layout.scss */
.semantic-markup {
  display: none;
}

/* line 171, ../components/sass/_layout.scss */
.hide-visibility {
  visibility: hidden;
}

/* line 4, ../components/sass/_modules.scss */
.topmenu a:hover {
  border-bottom: 2px solid black;
}

/* line 10, ../components/sass/_modules.scss */
.topmenu li:hover ul {
  left: 0 !important;
}

/* line 14, ../components/sass/_modules.scss */
.submenu a:hover {
  border: none;
}

/* line 18, ../components/sass/_modules.scss */
.dp-one a:hover {
  background: #fff485;
}

/* line 21, ../components/sass/_modules.scss */
.dp-two a:hover {
  background: #ED6346;
}

/* line 24, ../components/sass/_modules.scss */
.dp-three a:hover {
  background: #71C5A6;
}

/* line 27, ../components/sass/_modules.scss */
.dp-four a:hover {
  background: #F8DB88;
}

/* line 30, ../components/sass/_modules.scss */
.dp-five a:hover {
  background: #F68E57;
}

/* line 33, ../components/sass/_modules.scss */
.dp-six a:hover {
  background: #B0DEA1;
}

/* line 36, ../components/sass/_modules.scss */
.dp-seven a:hover {
  background: #67CFCD;
}

/* line 15, ../components/sass/styles.scss */
#designProcess {
  background-color: #FFFBD2;
}

/* line 18, ../components/sass/styles.scss */
#productDefinition {
  background-color: #FF9985;
}

/* line 21, ../components/sass/styles.scss */
#researchAnalysis {
  background-color: #8AE0C1;
}

/* line 24, ../components/sass/styles.scss */
#interactionDesign {
  background-color: #FFF59C;
}

/* line 27, ../components/sass/styles.scss */
#wireframePrototype {
  background-color: #FFAB7E;
}

/* line 30, ../components/sass/styles.scss */
#usabilityEvaluation {
  background-color: #A5D695;
}

/* line 33, ../components/sass/styles.scss */
#frontendProgramming {
  background-color: #67CFCD;
}

/* line 40, ../components/sass/styles.scss */
#logo {
  font-weight: 500;
  text-transform: uppercase;
}
/* line 44, ../components/sass/styles.scss */
#logo span {
  font-weight: 300;
}

/* line 52, ../components/sass/styles.scss */
.current, a:hover.current {
  border-bottom: 2px solid black;
}

/* line 55, ../components/sass/styles.scss */
.submenu {
  background: #fffde6;
}
